* {
    box-sizing: border-box;
 }
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.container-form {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 20px;
    overflow: auto;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.col-50{
    float: left;
    width: 50%;
    margin-top: 6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
  .container-header {
    
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }